<!-- Modal -->
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isUpdate">Add new contact</h5>
        <h5 class="modal-title" *ngIf="isUpdate">Update contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Group</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="contactInfo.groupId">
            <option selected value="0">Choose...</option>
            <option *ngFor="let group of groupsList" value="{{group.groupId}}" >{{group.groupName}}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><i class="icon-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="First name" (keyup)="success = false" [(ngModel)]="contactInfo.firstName">
          <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="contactInfo.lastName">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-mail-alt"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="username" [(ngModel)]="contactInfo.emailId">
          <div class="input-group-append">
            <span class="input-group-text domain">@inmar.com</span>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-phone"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="phone" [(ngModel)]="contactInfo.phoneNum">
        </div>
        <span *ngIf="success && !isUpdate" class="success-text">Contact added successfully</span>
        <span *ngIf="success && isUpdate" class="success-text">Contact updated successfully</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addContact()" *ngIf="!isUpdate">Add</button>
        <button type="button" class="btn btn-primary" (click)="updateContact()" *ngIf="isUpdate">Update</button>
      </div>
    </div>
  </div>
</div>
