<div class="login-container">
  <div class="login-box">
    <div class="legend"></div>
    <h1 class="login-text">Login</h1>
    <div class="login-content">
      <span class="login-error-text" *ngIf="erroLogin">Invalid Username or Password</span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="username" [(ngModel)]="username">
        <div class="input-group-append">
          <span class="input-group-text domain">@inmar.com</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-key"></i></span>
        </div>
        <input type="password" class="form-control" aria-label="password" [(ngModel)]="password">
      </div>
      <div>
        <div class="sign-up">
          <ul>
            <li><span>Forgot your password? <a routerLink="/reset">Reset</a></span></li>
            <li><span>New User? <a routerLink="/register">Sign Up</a></span></li>
          </ul>
        </div>
        <button class="btn-primary btn-login" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div>
