<!-- Modal -->
<div class="modal fade" id="manage-groups" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Manage Groups & Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01" style="font-size: 13px;">Group</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="groupId" (change)="loadGroupData()">
              <option selected value="0">Choose...</option>
              <option *ngFor="let group of groupsList" value="{{group.groupId}}" >{{group.groupName}}</option>
            </select>
            <div class="input-group-append">
              <button type="button" class="btn btn-primary" (click)="deleteGroup()">Delete</button>
            </div>
        </div>
        <div class="mb-3" *ngIf="groupId > 0">
          <app-toggler [active]="status" class="toggler" (onToggle)="updateStatus($event)"></app-toggler><span class="status-text">The group is <span [ngClass]="{'inactive' : !status}">{{status ? 'Active' : 'Inactive'}}</span></span>
        </div>
        <ag-grid-angular
          style="width: 100%; height: 250px;"
          class="ag-theme-balham"
          [enableSorting]="true"
          [enableFilter]="true"
          [rowSelection]="'multiple'"
          [pagination]="true"
          [paginationPageSize]="10"
          [rowData]="contactList"
          [columnDefs]="columnDefs"
          (gridReady)="gridReady($event)"
        >
        </ag-grid-angular>
      </div>
      <div class="modal-footer" *ngIf="contactList && contactList.length">
        <button type="button" class="btn btn-danger" (click)="deleteContacts()">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="deActivateContacts()">Deactivate</button>
        <button type="button" class="btn btn-primary" (click)="activateContacts()">Activate</button>
      </div>
      <div class="modal-footer" *ngIf="contactList && !contactList.length">
        <button type="button" class="btn btn-danger" (click)="deleteContacts()" disabled>Delete</button>
        <button type="button" class="btn btn-secondary" (click)="deActivateContacts()" disabled>Deactivate</button>
        <button type="button" class="btn btn-primary" (click)="activateContacts()" disabled>Activate</button>
      </div>
    </div>
  </div>
</div>
